html {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 0.6944444444vw;
}
@media (max-width: 1024px) {
  html {
    font-size: 0.9765625vw;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 2.5641025641vw;
  }
}

.programs__wrapper {
  max-width: 39rem;
  margin: 0 auto;
  padding: 0 2rem;
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("../resources/fonts/Raleway-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("../resources/fonts/Raleway-Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
.programs__title {
  font-weight: 700;
  font-size: 4.1rem;
  line-height: 110%;
  text-align: center;
  text-wrap: nowrap;
}

.programs {
  margin: 2rem 0;
  max-width: 39rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programs__categories--list {
  margin: 1rem 0 3rem;
  display: grid;
  grid-template: 1fr/repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 14px;
  width: 35rem;
}

.programs__categories--item {
  text-align: center;
}

.category__link {
  border-radius: 11px;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  background-color: transparent;
  width: 14.2rem;
  height: 4.6rem;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category__link--active {
  background-color: #9AFDFD;
  transition: background-color 0.2s;
}

.programs__card {
  width: 35rem;
  padding: 2rem 1.4rem;
  background-color: #EEF9F9;
  border-radius: 11px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  display: none;
}

.programs__card--active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
  display: block;
}

.programs__card--duration {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  margin: 2rem 0;
}

.programs__card--title {
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 110%;
  text-align: center;
}

.programs__services--title {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

.programs__services--list h4 {
  margin-bottom: 12px;
}
.programs__services--list li, .programs__services--list h4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.programs__card--favors {
  margin: 6px 0 8px 1.7rem;
}

.programs__card--price {
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 110%;
  text-align: center;
  margin: 2rem 0;
}

.programs__card--button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  width: 100%;
  height: 8rem;
  background: linear-gradient(135deg, #9aebfd 0%, #00c7e2 100%);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 124%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #05292e;
}

.programs__card--description {
  margin-top: 8px;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
